{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanBazzar Reset Password</title>

    <!-- Linking external CSS file for styling -->
    <link rel="stylesheet" href="{% static 'css/Resetpassword.css' %}">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_white/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_white/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_white/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_white/site.webmanifest' %}">
    <link rel="icon" href="{% static 'favicon_white/favicon.ico' %}">

</head>
<body>

    <!-- Popup Container -->
    <div class="popup-container" id="popupContainer">
        {% for message in messages %}
            <div class="popup {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    
    <div id="content" class="Forget-Password">
        <header>
            <!-- Logo of UrbanBazzar -->
            <img src="{% static 'images/UrbanBazzarWhite.png' %}" alt="UrbanBazzar Logo" class="logo">
        </header>

        <h2>Forgot Password</h2>
        <p>Enter New Password</p>

        <form id="ForgetForm" action="{% url 'users:Reset_password' token %}" method="POST">
            {% csrf_token %}  <!-- CSRF Token for security in Django -->
            

            <label for="Email">Password:</label>
            <input title = "Enter The Password " type="Password" id="Password" name="password" placeholder="Password">
            
            <label for="Email">Confirm Password:</label>
            <input title = "Enter The ConfirmPassword " type="Password" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password">
            
            <button class="btn">Submit</button> 
        </form>

        <!-- Sign Up Link -->
        <p>Remembered your password? <a href = {% url "users:Login_user" %}>Login</a></p>
        
    </div>  

    <!-- Loader (Currently Commented Out) -->
    <div id="loader" class="loader"  style="display: none;">
        <div class="circle">
            <div class="dot"></div>
            <div class="outline"></div>
        </div>
        <div class="circle">
            <div class="dot"></div>
            <div class="outline"></div>
        </div>
        <div class="circle">
            <div class="dot"></div>
            <div class="outline"></div>
        </div>
        <div class="circle">
            <div class="dot"></div>
            <div class="outline"></div>
        </div>
    </div> 

    <!-- JavaScript File (Currently Commented Out) -->
    <script src="{% static 'js/Resetpassword.js' %}"></script>
</body>
</html>
